sudo: false
language: java
jdk:
  - oraclejdk8
install: "mvn -Dmaven.test.skip=true clean install --batch-mode"
script: "mvn -Djava.awt.headless=true -Dmaven.test.redirectTestOutputToFile=true -Dcobertura.report.format=xml --fail-at-end --batch-mode cobertura:cobertura test "
after_success:
  - bash <(curl -s https://codecov.io/bash)